<section class="login-container">
    <div class="form">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" id="username-login">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" id="password-login">
            <label for="floatingPassword">Password</label>
        </div>
        <button type="button" class="btn btn-primary" id="login-login-btn">Log in</button>
    </div>
</section>